<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pes.jd.mapper.CsChatSessionMapper">
  <resultMap id="BaseResultMap" type="com.pes.jd.model.DO.CsChatSession">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="sid" jdbcType="VARCHAR" property="sid" />
    <result column="shop_id" jdbcType="BIGINT" property="shopId" />
    <result column="date" jdbcType="DATE" property="date" />
    <result column="cs_nick" jdbcType="VARCHAR" property="csNick" />
    <result column="customer" jdbcType="VARCHAR" property="customer" />
    <result column="begin_datetime" jdbcType="TIMESTAMP" property="beginDatetime" />
    <result column="end_datetime" jdbcType="TIMESTAMP" property="endDatetime" />
    <result column="reply_datetime" jdbcType="TIMESTAMP" property="replyDatetime" />
    <result column="session_type" jdbcType="BIT" property="sessionType" />
    <result column="is_transfer" jdbcType="BIT" property="isTransfer" />
    <result column="is_non_reply" jdbcType="BIT" property="isNonReply" />
    <result column="is_slow_resp" jdbcType="BIT" property="isSlowResp" />
    <result column="is_long_receive" jdbcType="BIT" property="isLongReceive" />
    <result column="send_eval_num" jdbcType="INTEGER" property="sendEvalNum" />
    <result column="eval_num" jdbcType="INTEGER" property="evalNum" />
    <result column="eval_code" jdbcType="INTEGER" property="evalCode" />
    <result column="satisfied_eval_num" jdbcType="INTEGER" property="satisfiedEvalNum" />
    <result column="is_consult" jdbcType="BIT" property="isConsult" />
    <result column="is_receive" jdbcType="BIT" property="isReceive" />
    <result column="is_assign" jdbcType="BIT" property="isAssign" />
    <result column="session_duration_time" jdbcType="DOUBLE" property="sessionDurationTime" />
    <result column="avg_resp_time_first" jdbcType="DOUBLE" property="avgRespTimeFirst" />
    <result column="avg_resp_time" jdbcType="DOUBLE" property="avgRespTime" />
    <result column="cs_chat_num" jdbcType="INTEGER" property="csChatNum" />
    <result column="cust_chat_num" jdbcType="INTEGER" property="custChatNum" />
    <result column="receive_start_type" jdbcType="BIT" property="receiveStartType" />
    <result column="forward_type" jdbcType="BIT" property="forwardType" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, sid, shop_id, date, cs_nick, customer, begin_datetime, end_datetime, reply_datetime, 
    session_type, is_transfer, is_non_reply, is_slow_resp, is_long_receive, send_eval_num, 
    eval_num, eval_code, satisfied_eval_num, is_consult, is_receive, is_assign, session_duration_time, 
    avg_resp_time_first, avg_resp_time, cs_chat_num, cust_chat_num, receive_start_type, 
    forward_type
  </sql>
  <select id="selectByExample" parameterType="com.pes.jd.model.DO.CsChatSessionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pes_cs_chat_session
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pes_cs_chat_session
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pes_cs_chat_session
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.pes.jd.model.DO.CsChatSessionExample">
    delete from pes_cs_chat_session
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pes.jd.model.DO.CsChatSession">
    insert into pes_cs_chat_session (id, sid, shop_id, 
      date, cs_nick, customer, 
      begin_datetime, end_datetime, reply_datetime, 
      session_type, is_transfer, is_non_reply, 
      is_slow_resp, is_long_receive, send_eval_num, 
      eval_num, eval_code, satisfied_eval_num, 
      is_consult, is_receive, is_assign, 
      session_duration_time, avg_resp_time_first, avg_resp_time, 
      cs_chat_num, cust_chat_num, receive_start_type, 
      forward_type)
    values (#{id,jdbcType=BIGINT}, #{sid,jdbcType=VARCHAR}, #{shopId,jdbcType=BIGINT}, 
      #{date,jdbcType=DATE}, #{csNick,jdbcType=VARCHAR}, #{customer,jdbcType=VARCHAR}, 
      #{beginDatetime,jdbcType=TIMESTAMP}, #{endDatetime,jdbcType=TIMESTAMP}, #{replyDatetime,jdbcType=TIMESTAMP}, 
      #{sessionType,jdbcType=BIT}, #{isTransfer,jdbcType=BIT}, #{isNonReply,jdbcType=BIT}, 
      #{isSlowResp,jdbcType=BIT}, #{isLongReceive,jdbcType=BIT}, #{sendEvalNum,jdbcType=INTEGER}, 
      #{evalNum,jdbcType=INTEGER}, #{evalCode,jdbcType=INTEGER}, #{satisfiedEvalNum,jdbcType=INTEGER}, 
      #{isConsult,jdbcType=BIT}, #{isReceive,jdbcType=BIT}, #{isAssign,jdbcType=BIT}, 
      #{sessionDurationTime,jdbcType=DOUBLE}, #{avgRespTimeFirst,jdbcType=DOUBLE}, #{avgRespTime,jdbcType=DOUBLE}, 
      #{csChatNum,jdbcType=INTEGER}, #{custChatNum,jdbcType=INTEGER}, #{receiveStartType,jdbcType=BIT}, 
      #{forwardType,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.pes.jd.model.DO.CsChatSession">
    insert into pes_cs_chat_session
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sid != null">
        sid,
      </if>
      <if test="shopId != null">
        shop_id,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="csNick != null">
        cs_nick,
      </if>
      <if test="customer != null">
        customer,
      </if>
      <if test="beginDatetime != null">
        begin_datetime,
      </if>
      <if test="endDatetime != null">
        end_datetime,
      </if>
      <if test="replyDatetime != null">
        reply_datetime,
      </if>
      <if test="sessionType != null">
        session_type,
      </if>
      <if test="isTransfer != null">
        is_transfer,
      </if>
      <if test="isNonReply != null">
        is_non_reply,
      </if>
      <if test="isSlowResp != null">
        is_slow_resp,
      </if>
      <if test="isLongReceive != null">
        is_long_receive,
      </if>
      <if test="sendEvalNum != null">
        send_eval_num,
      </if>
      <if test="evalNum != null">
        eval_num,
      </if>
      <if test="evalCode != null">
        eval_code,
      </if>
      <if test="satisfiedEvalNum != null">
        satisfied_eval_num,
      </if>
      <if test="isConsult != null">
        is_consult,
      </if>
      <if test="isReceive != null">
        is_receive,
      </if>
      <if test="isAssign != null">
        is_assign,
      </if>
      <if test="sessionDurationTime != null">
        session_duration_time,
      </if>
      <if test="avgRespTimeFirst != null">
        avg_resp_time_first,
      </if>
      <if test="avgRespTime != null">
        avg_resp_time,
      </if>
      <if test="csChatNum != null">
        cs_chat_num,
      </if>
      <if test="custChatNum != null">
        cust_chat_num,
      </if>
      <if test="receiveStartType != null">
        receive_start_type,
      </if>
      <if test="forwardType != null">
        forward_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="sid != null">
        #{sid,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null">
        #{shopId,jdbcType=BIGINT},
      </if>
      <if test="date != null">
        #{date,jdbcType=DATE},
      </if>
      <if test="csNick != null">
        #{csNick,jdbcType=VARCHAR},
      </if>
      <if test="customer != null">
        #{customer,jdbcType=VARCHAR},
      </if>
      <if test="beginDatetime != null">
        #{beginDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="endDatetime != null">
        #{endDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="replyDatetime != null">
        #{replyDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="sessionType != null">
        #{sessionType,jdbcType=BIT},
      </if>
      <if test="isTransfer != null">
        #{isTransfer,jdbcType=BIT},
      </if>
      <if test="isNonReply != null">
        #{isNonReply,jdbcType=BIT},
      </if>
      <if test="isSlowResp != null">
        #{isSlowResp,jdbcType=BIT},
      </if>
      <if test="isLongReceive != null">
        #{isLongReceive,jdbcType=BIT},
      </if>
      <if test="sendEvalNum != null">
        #{sendEvalNum,jdbcType=INTEGER},
      </if>
      <if test="evalNum != null">
        #{evalNum,jdbcType=INTEGER},
      </if>
      <if test="evalCode != null">
        #{evalCode,jdbcType=INTEGER},
      </if>
      <if test="satisfiedEvalNum != null">
        #{satisfiedEvalNum,jdbcType=INTEGER},
      </if>
      <if test="isConsult != null">
        #{isConsult,jdbcType=BIT},
      </if>
      <if test="isReceive != null">
        #{isReceive,jdbcType=BIT},
      </if>
      <if test="isAssign != null">
        #{isAssign,jdbcType=BIT},
      </if>
      <if test="sessionDurationTime != null">
        #{sessionDurationTime,jdbcType=DOUBLE},
      </if>
      <if test="avgRespTimeFirst != null">
        #{avgRespTimeFirst,jdbcType=DOUBLE},
      </if>
      <if test="avgRespTime != null">
        #{avgRespTime,jdbcType=DOUBLE},
      </if>
      <if test="csChatNum != null">
        #{csChatNum,jdbcType=INTEGER},
      </if>
      <if test="custChatNum != null">
        #{custChatNum,jdbcType=INTEGER},
      </if>
      <if test="receiveStartType != null">
        #{receiveStartType,jdbcType=BIT},
      </if>
      <if test="forwardType != null">
        #{forwardType,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pes.jd.model.DO.CsChatSessionExample" resultType="java.lang.Long">
    select count(*) from pes_cs_chat_session
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pes_cs_chat_session
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.sid != null">
        sid = #{record.sid,jdbcType=VARCHAR},
      </if>
      <if test="record.shopId != null">
        shop_id = #{record.shopId,jdbcType=BIGINT},
      </if>
      <if test="record.date != null">
        date = #{record.date,jdbcType=DATE},
      </if>
      <if test="record.csNick != null">
        cs_nick = #{record.csNick,jdbcType=VARCHAR},
      </if>
      <if test="record.customer != null">
        customer = #{record.customer,jdbcType=VARCHAR},
      </if>
      <if test="record.beginDatetime != null">
        begin_datetime = #{record.beginDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endDatetime != null">
        end_datetime = #{record.endDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.replyDatetime != null">
        reply_datetime = #{record.replyDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sessionType != null">
        session_type = #{record.sessionType,jdbcType=BIT},
      </if>
      <if test="record.isTransfer != null">
        is_transfer = #{record.isTransfer,jdbcType=BIT},
      </if>
      <if test="record.isNonReply != null">
        is_non_reply = #{record.isNonReply,jdbcType=BIT},
      </if>
      <if test="record.isSlowResp != null">
        is_slow_resp = #{record.isSlowResp,jdbcType=BIT},
      </if>
      <if test="record.isLongReceive != null">
        is_long_receive = #{record.isLongReceive,jdbcType=BIT},
      </if>
      <if test="record.sendEvalNum != null">
        send_eval_num = #{record.sendEvalNum,jdbcType=INTEGER},
      </if>
      <if test="record.evalNum != null">
        eval_num = #{record.evalNum,jdbcType=INTEGER},
      </if>
      <if test="record.evalCode != null">
        eval_code = #{record.evalCode,jdbcType=INTEGER},
      </if>
      <if test="record.satisfiedEvalNum != null">
        satisfied_eval_num = #{record.satisfiedEvalNum,jdbcType=INTEGER},
      </if>
      <if test="record.isConsult != null">
        is_consult = #{record.isConsult,jdbcType=BIT},
      </if>
      <if test="record.isReceive != null">
        is_receive = #{record.isReceive,jdbcType=BIT},
      </if>
      <if test="record.isAssign != null">
        is_assign = #{record.isAssign,jdbcType=BIT},
      </if>
      <if test="record.sessionDurationTime != null">
        session_duration_time = #{record.sessionDurationTime,jdbcType=DOUBLE},
      </if>
      <if test="record.avgRespTimeFirst != null">
        avg_resp_time_first = #{record.avgRespTimeFirst,jdbcType=DOUBLE},
      </if>
      <if test="record.avgRespTime != null">
        avg_resp_time = #{record.avgRespTime,jdbcType=DOUBLE},
      </if>
      <if test="record.csChatNum != null">
        cs_chat_num = #{record.csChatNum,jdbcType=INTEGER},
      </if>
      <if test="record.custChatNum != null">
        cust_chat_num = #{record.custChatNum,jdbcType=INTEGER},
      </if>
      <if test="record.receiveStartType != null">
        receive_start_type = #{record.receiveStartType,jdbcType=BIT},
      </if>
      <if test="record.forwardType != null">
        forward_type = #{record.forwardType,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pes_cs_chat_session
    set id = #{record.id,jdbcType=BIGINT},
      sid = #{record.sid,jdbcType=VARCHAR},
      shop_id = #{record.shopId,jdbcType=BIGINT},
      date = #{record.date,jdbcType=DATE},
      cs_nick = #{record.csNick,jdbcType=VARCHAR},
      customer = #{record.customer,jdbcType=VARCHAR},
      begin_datetime = #{record.beginDatetime,jdbcType=TIMESTAMP},
      end_datetime = #{record.endDatetime,jdbcType=TIMESTAMP},
      reply_datetime = #{record.replyDatetime,jdbcType=TIMESTAMP},
      session_type = #{record.sessionType,jdbcType=BIT},
      is_transfer = #{record.isTransfer,jdbcType=BIT},
      is_non_reply = #{record.isNonReply,jdbcType=BIT},
      is_slow_resp = #{record.isSlowResp,jdbcType=BIT},
      is_long_receive = #{record.isLongReceive,jdbcType=BIT},
      send_eval_num = #{record.sendEvalNum,jdbcType=INTEGER},
      eval_num = #{record.evalNum,jdbcType=INTEGER},
      eval_code = #{record.evalCode,jdbcType=INTEGER},
      satisfied_eval_num = #{record.satisfiedEvalNum,jdbcType=INTEGER},
      is_consult = #{record.isConsult,jdbcType=BIT},
      is_receive = #{record.isReceive,jdbcType=BIT},
      is_assign = #{record.isAssign,jdbcType=BIT},
      session_duration_time = #{record.sessionDurationTime,jdbcType=DOUBLE},
      avg_resp_time_first = #{record.avgRespTimeFirst,jdbcType=DOUBLE},
      avg_resp_time = #{record.avgRespTime,jdbcType=DOUBLE},
      cs_chat_num = #{record.csChatNum,jdbcType=INTEGER},
      cust_chat_num = #{record.custChatNum,jdbcType=INTEGER},
      receive_start_type = #{record.receiveStartType,jdbcType=BIT},
      forward_type = #{record.forwardType,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pes.jd.model.DO.CsChatSession">
    update pes_cs_chat_session
    <set>
      <if test="sid != null">
        sid = #{sid,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null">
        shop_id = #{shopId,jdbcType=BIGINT},
      </if>
      <if test="date != null">
        date = #{date,jdbcType=DATE},
      </if>
      <if test="csNick != null">
        cs_nick = #{csNick,jdbcType=VARCHAR},
      </if>
      <if test="customer != null">
        customer = #{customer,jdbcType=VARCHAR},
      </if>
      <if test="beginDatetime != null">
        begin_datetime = #{beginDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="endDatetime != null">
        end_datetime = #{endDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="replyDatetime != null">
        reply_datetime = #{replyDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="sessionType != null">
        session_type = #{sessionType,jdbcType=BIT},
      </if>
      <if test="isTransfer != null">
        is_transfer = #{isTransfer,jdbcType=BIT},
      </if>
      <if test="isNonReply != null">
        is_non_reply = #{isNonReply,jdbcType=BIT},
      </if>
      <if test="isSlowResp != null">
        is_slow_resp = #{isSlowResp,jdbcType=BIT},
      </if>
      <if test="isLongReceive != null">
        is_long_receive = #{isLongReceive,jdbcType=BIT},
      </if>
      <if test="sendEvalNum != null">
        send_eval_num = #{sendEvalNum,jdbcType=INTEGER},
      </if>
      <if test="evalNum != null">
        eval_num = #{evalNum,jdbcType=INTEGER},
      </if>
      <if test="evalCode != null">
        eval_code = #{evalCode,jdbcType=INTEGER},
      </if>
      <if test="satisfiedEvalNum != null">
        satisfied_eval_num = #{satisfiedEvalNum,jdbcType=INTEGER},
      </if>
      <if test="isConsult != null">
        is_consult = #{isConsult,jdbcType=BIT},
      </if>
      <if test="isReceive != null">
        is_receive = #{isReceive,jdbcType=BIT},
      </if>
      <if test="isAssign != null">
        is_assign = #{isAssign,jdbcType=BIT},
      </if>
      <if test="sessionDurationTime != null">
        session_duration_time = #{sessionDurationTime,jdbcType=DOUBLE},
      </if>
      <if test="avgRespTimeFirst != null">
        avg_resp_time_first = #{avgRespTimeFirst,jdbcType=DOUBLE},
      </if>
      <if test="avgRespTime != null">
        avg_resp_time = #{avgRespTime,jdbcType=DOUBLE},
      </if>
      <if test="csChatNum != null">
        cs_chat_num = #{csChatNum,jdbcType=INTEGER},
      </if>
      <if test="custChatNum != null">
        cust_chat_num = #{custChatNum,jdbcType=INTEGER},
      </if>
      <if test="receiveStartType != null">
        receive_start_type = #{receiveStartType,jdbcType=BIT},
      </if>
      <if test="forwardType != null">
        forward_type = #{forwardType,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pes.jd.model.DO.CsChatSession">
    update pes_cs_chat_session
    set sid = #{sid,jdbcType=VARCHAR},
      shop_id = #{shopId,jdbcType=BIGINT},
      date = #{date,jdbcType=DATE},
      cs_nick = #{csNick,jdbcType=VARCHAR},
      customer = #{customer,jdbcType=VARCHAR},
      begin_datetime = #{beginDatetime,jdbcType=TIMESTAMP},
      end_datetime = #{endDatetime,jdbcType=TIMESTAMP},
      reply_datetime = #{replyDatetime,jdbcType=TIMESTAMP},
      session_type = #{sessionType,jdbcType=BIT},
      is_transfer = #{isTransfer,jdbcType=BIT},
      is_non_reply = #{isNonReply,jdbcType=BIT},
      is_slow_resp = #{isSlowResp,jdbcType=BIT},
      is_long_receive = #{isLongReceive,jdbcType=BIT},
      send_eval_num = #{sendEvalNum,jdbcType=INTEGER},
      eval_num = #{evalNum,jdbcType=INTEGER},
      eval_code = #{evalCode,jdbcType=INTEGER},
      satisfied_eval_num = #{satisfiedEvalNum,jdbcType=INTEGER},
      is_consult = #{isConsult,jdbcType=BIT},
      is_receive = #{isReceive,jdbcType=BIT},
      is_assign = #{isAssign,jdbcType=BIT},
      session_duration_time = #{sessionDurationTime,jdbcType=DOUBLE},
      avg_resp_time_first = #{avgRespTimeFirst,jdbcType=DOUBLE},
      avg_resp_time = #{avgRespTime,jdbcType=DOUBLE},
      cs_chat_num = #{csChatNum,jdbcType=INTEGER},
      cust_chat_num = #{custChatNum,jdbcType=INTEGER},
      receive_start_type = #{receiveStartType,jdbcType=BIT},
      forward_type = #{forwardType,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>