<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pes.jd.mapper.ShopGoodsSkuLabelMapper">
  <resultMap id="ShopGoodsSkuLabelDO" type="com.pes.jd.model.DO.ShopGoodsSkuLabelDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="shop_id" jdbcType="BIGINT" property="shopId" />
    <result column="sku_id" jdbcType="BIGINT" property="skuId" />
    <result column="label" jdbcType="VARCHAR" property="label" />
  </resultMap>
  <resultMap id="ShopGoodsSkuLabelDTO" type="com.pes.jd.model.DTO.ShopGoodsSkuLabelDTO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="shop_id" jdbcType="BIGINT" property="shopId" />
    <result column="sku_id" jdbcType="BIGINT" property="skuId" />
    <result column="label" jdbcType="VARCHAR" property="label" />
  </resultMap>

  <sql id="Base_Column_List">
    id, shop_id, sku_id, label
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ShopGoodsSkuLabelDO">
    select 
    <include refid="Base_Column_List" />
    from pes_shop_goods_sku_label_2019_05
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pes_shop_goods_sku_label_2019_05
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.pes.jd.model.DO.ShopGoodsSkuLabelDO">
    insert into pes_shop_goods_sku_label_2019_05 (id, shop_id, sku_id, 
      label)
    values (#{id,jdbcType=BIGINT}, #{shopId,jdbcType=BIGINT}, #{skuId,jdbcType=BIGINT}, 
      #{label,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pes.jd.model.DO.ShopGoodsSkuLabelDO">
    insert into pes_shop_goods_sku_label_2019_05
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="shopId != null">
        shop_id,
      </if>
      <if test="skuId != null">
        sku_id,
      </if>
      <if test="label != null">
        label,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="shopId != null">
        #{shopId,jdbcType=BIGINT},
      </if>
      <if test="skuId != null">
        #{skuId,jdbcType=BIGINT},
      </if>
      <if test="label != null">
        #{label,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pes.jd.model.DO.ShopGoodsSkuLabelDO">
    update pes_shop_goods_sku_label_2019_05
    <set>
      <if test="shopId != null">
        shop_id = #{shopId,jdbcType=BIGINT},
      </if>
      <if test="skuId != null">
        sku_id = #{skuId,jdbcType=BIGINT},
      </if>
      <if test="label != null">
        label = #{label,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pes.jd.model.DO.ShopGoodsSkuLabelDO">
    update pes_shop_goods_sku_label_2019_05
    set shop_id = #{shopId,jdbcType=BIGINT},
      sku_id = #{skuId,jdbcType=BIGINT},
      label = #{label,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>